body {
  font-family: sans-serif;
  margin: 0;

}

a {
  text-decoration: none;
  color: black;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
  font-size: 15px;
}

nav a:hover {
  color: beige;
  transition: 0.8s;
}
#login {
  background-color: rgb(0 0 0 / 15%);
  padding: 10px;
  border-radius: 5px;
  color: whitesmoke;
  margin: 1px;
}
#signout {
  background-color: rgb(138 199 199 / 64%);
  padding: 10px;
  border-radius: 5px;
  color: whitesmoke;
  margin: 1px;
}
#login:hover {
  color: black;
}
#signout:hover {
  color: black;
}

.mean {
  background-color: rgb(68 110 110);
  display: flex;
  flex-direction: column;
  margin: auto 0;
  justify-content: center;
  height: 800px;
}

header {
  display: flex;
  height: 70px;
  background-color: rgb(68, 110, 110);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 0;
  color: rgb(9, 40, 40);
  display: flex;
  align-items: center;
  background-color: rgb(211, 211, 247);
  border-radius: 50%;
  font-family: Georgia, "Times New Roman", Times, serif;

  font-size: 15px;
}

.logo h2 {
  margin: 10px;
  margin-bottom: 1px;
}

.logo h6 {
  margin: 4px 0px;
}

.menu {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
}

section div {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 33%;
  justify-content: center;
  border-radius: 3px;
}

footer {
  color: white;
  display: flex;
  height: 40px;
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 13px;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(138, 199, 199);
  width: 100%;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(84, 113, 211, 0.04) 0 1px 3px 0;
  border-radius: 50%;
}

#title {
  text-justify: kashida;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 400%;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  animation-name: changeColor;
  animation-duration: 1s;
}

h5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(138, 199, 199);

  justify-content: center;
  text-align: center;
  box-shadow: rgba(84, 113, 211, 0.04) 0 1px 3px 0;

  padding: 20px;
  margin: 0;
}

form {
  background-color: rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  height: 300px;
  justify-content: center;
  transition: 5s;
}

form input {
  align-items: center;
  display: flex;
  border-radius: 6px;
  height: 50px;
  width: 350px;
  padding: 5px;
  margin: 5px;
  font-size: larger;
}

.documentation {
  left: 0;
  top: 10%;
}

.documentationsButton {
  background: none;
  border: none;
  font-weight: 600;
  padding-right: 10px;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
}
.documentationsButton:hover {
  color: beige;
  transition: 0.8s;
}

.buttonLogin {
  border-radius: 5px;
  height: 50px;
  font-size: 25px;
  width: 200px;
}

.buttonLogin:hover {
  opacity: 1;
  background-color: #00ffd5;
  transition: 0.8s;
}

.button-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 3px 3%;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 90%;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

@keyframes changeColor {
  0% {
    background-color: rgb(95, 225, 225);
    transform: scale(1.2);
    font-size: 400%;
  }

  50% {
    background-color: rgb(118, 202, 210);
    transform: scale(1.5);
    font-size: 100%;
  }

  80% {
    background-color: aquamarine;
    transform: scale(2);
    font-size: 400%;
  }
}

.GamesList {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 30px;
  background-color: rgba(148, 148, 204, 0.196);
  animation-name: GamesList;
  animation-duration: 2s;
  color: whitesmoke;
}

@keyframes GamesList {
  0% {
    padding: 30%;
    background-color: rgb(240, 255, 244);
  }

  25% {
    padding: 20%;
    background-color: rgb(240, 244, 255);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  50% {
    background-color: rgb(240, 246, 255);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  80% {
    border-radius: 100%;
    padding: 10%;
    background-color: rgb(240, 243, 255);
    font-size: large;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

.mainComments {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto 0;
  align-items: center;
}
.boxComments {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 80%;
  align-self: center;
  justify-content: flex-end;
  width: 80%;
  height: 90%;
  overflow: scroll;
}

.comment {
  background-color: rgb(118 202 210);
  margin: 1px;
  border-radius: 5px;
  padding: 3px;
}
.inputMessage {
  margin: auto 0;
  height: 40px;
  width: 90%;
  border-radius: 15px;
}

/**------LOGGED STYLES---------**/
.titleLogged {
  display: flex;
  font-family: system-ui;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #446e6e;
  padding: 10%;
  margin: 0;
}
.titleLogged h1 {
  padding: 0;
  margin: 0;
  color: #9eff78;
}

.titleLogged p {
  height: 10%;
  margin: 1%;
  text-align: start;
  font-size: larger;
}

.titleLoggedFail {
  font-family: system-ui;
  text-align: center;
  color: red;
  height:  525px
}

/**----------------------------------------------------------**/
/**------movile performance---------**/
/**----------------------------------------------------------**/

@media (max-width: 700px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mean {
    background-color: rgb(68 110 110);
    display: flex;
    flex-direction: column;
    margin: auto 0;
    justify-content: center;
    height: 550px;
  }

  header {
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    height: 105px;
  }

  footer {
    height: 30px;
    font-size: 8px;
  }

  .logo {
    margin-top: 2px;
    animation-name: logoAnimation;
    animation-duration: 2s;
    position: relative;
  }

  @keyframes logoAnimation {
    0% {
      background-color: rgb(242, 153, 156, 0.295);
    }

    50% {
      background-color: rgba(0, 0, 255, 0.295);
    }
  }

  nav {
    display: flex;
    padding-top: 20px;
    align-items: center;
  }
  nav a {
    font-weight: 600;
    padding: 5px;
    font-size: 10px;
  }
  nav a:hover {
    color: beige;
    transition: 0.8s;
    font-size: 10px;
  }
  .documentationsButton {
    background: none;
    border: none;
    font-weight: 600;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 10px;
    cursor: pointer;
  }
  .documentationsButton:hover {
    color: beige;
    transition: 0.8s;
    font-size: 10px;
  }

  #login {
    background-color: rgb(0 0 0 / 15%);
    padding: 10px;
    border-radius: 5px;
    color: whitesmoke;
    margin: 1px;
  }
  #signout {
    background-color: rgb(138 199 199 / 64%);
    padding: 10px;
    border-radius: 5px;
    color: whitesmoke;
    margin: 1px;
  }

  .signoutForm {
    width: 95%;
    height: 22px;
  }
  #login:hover {
    color: black;
  }
  #signout:hover {
    color: black;
  }

  #title {
    font-size: 200%;
  }
  .backTitle {
    background-color: rgb(0 0 0 / 10%);
    border-radius: 100%;
    padding-bottom: 30px;
  }

  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(138, 199, 199);
    width: 90%;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(84, 113, 211, 0.04) 0 1px 3px 0;
  }
  h5 {
    font-size: 10px;
  }
  .documentation {
    left: 0;
    top: 14%;
    height: 550px;
    margin: auto 0;
  }

  .GamesList {
    font-size: 30px;

    padding: 10%;
    margin-bottom: 40px;
    animation-name: GamesList;
    animation-duration: 1s;
  }

  @keyframes GamesList {
    0% {
      padding: 20%;
      background-color: rgb(240, 255, 244);
    }

    25% {
      padding: 10%;
      background-color: rgb(240, 244, 255);
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    50% {
      background-color: rgb(240, 246, 255);
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    80% {
      padding: 10%;
      background-color: rgb(240, 243, 255);
      font-size: large;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
  }

  @keyframes changeColor {
    0% {
      background-color: rgb(95, 225, 225);
      transform: scale(1.2);
    }

    50% {
      background-color: rgb(118, 202, 210);
      transform: scale(1.5);
      font-size: 100%;
    }

    80% {
      background-color: aquamarine;
      transform: scale(1);
    }
  }
  /** How old is your sould responsive*/

  .mainHowOld {
    display: flex;
    flex-direction: column;
    background-color: rgb(0 0 0 / 15%);
    align-items: center;
    margin: auto 0;
  }
  input {
    height: 50px;
    width: 80%;
    font-size: 30px;
  }

  .ageMessage {
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    border-radius: 50%;
    border-radius: 10px;
    animation-name: backAgeMessage;
    transition-duration: 2s;
  }

  @keyframes backAgeMessage {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .mainComments {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    align-items: center;
  }
  .boxComments {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 80%;
    align-self: center;
    justify-content: flex-end;
    width: 80%;
    height: 90%;
    overflow: scroll;
  }

  .comment {
    background-color: rgb(118 202 210);
    margin: 1px;
    border-radius: 5px;
    padding: 3px;
  }
  .inputMessage {
    margin: auto 0;
    height: 40px;
    width: 90%;
    border-radius: 15px;
  }

  /**------LOGGED STYLES---------**/
  .titleLogged {
    display: flex;
    font-family: system-ui;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #446e6e;
    padding: 10%;
    margin: 0;
  }
  .titleLogged h1 {
    padding: 0;
    margin: 0;
    color: #9eff78;
  }

  .titleLogged p {
    height: 10%;
    margin: 1%;
    text-align: start;
    font-size: larger;
  }
}
